@media screen and (min-width: 1680px) {
  html {
    font-size: 22px;
  }
  .test {
    color: red;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1680px) {
  html {
    font-size: 20px;
  }
  .test {
    color: black;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
  .test {
    color: yellow;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size: 16px;
  }
  .test {
    color: green;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .test {
    color: blue;
  }
}
